.page-header{
    background: fade-in(rgb(199, 95, 95), .60);
    margin-bottom: $l-size;
    padding: $l-size 0;
}


.page-header__title{
    font-weight: 300;
    margin: 0;
    span {
        font-weight: 700;
    }
}


.page-header__actions{
    margin-top:$m-size;
    
}