//colors
$dark-grey: #333333;
$grey: #666;
$blue:#1c88df;
$dark-blue: #364051;
$off-white: #f7f7f7;
//spacing

//Font size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;


//m-size
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.6rem;
$s-size: 1.2 rem;
$desktop-breakpoint: 45rem;
